@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.invotra-fixed-body {
  width: 100vw;

  &-inner {
    padding-right: 200px;
    padding-left: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1040px;

    @include mui_grid_breakpoint_max(medium-desktop) {
      max-width: 840px;
      padding-left: 92px;
      padding-right: 92px;
    }

    @include mui_grid_breakpoint_max(desktop) {
      max-width: 840px;
      padding-left: 60px;
      padding-right: 60px;
    }

    @include mui_grid_breakpoint_max(large-tablet) {
      max-width: 704px;
      padding-right: 32px;
      padding-left: 32px;
      margin: auto 0;
    }

    @include mui_grid_breakpoint_max(large-handset) {
      max-width: 382px;
      padding-right: 16px;
      padding-left: 16px;
      margin: auto 0;
    }
  }

  &-with-header {
    margin-top: $invotra-top-app-bar-height;
  }
}
